<!-- directive ==== formcontrol -->
<div class="container p-12 w-9/12 mx-auto">

    @if (errorMessage) {

    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-green-800 dark:text-red-400" role="alert">
        <span class="font-medium"></span>{{errorMessage}}
    </div>

    }

    <form action="" [formGroup]="LoginForm" (ngSubmit)="LoginSubmit()">

       


        <!-- ============================================================================== -->



        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-900 dark:text-white">E-mail : </label>
            <input formControlName="email" type="email"
                class="bg-green-50 border border-green-300 text-green-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-green-700 dark:border-green-600 dark:placeholder-green-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                placeholder="" required />
        </div>

        @if (LoginForm.get('email')?.errors && LoginForm.get('email')?.touched) {
        @if (LoginForm.get('email')?.getError('required')) {

        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-green-800 dark:text-red-400" role="alert">
            <span class="font-medium"></span>Email is required
        </div>

        }

        @else if (LoginForm.get('email')?.getError('email')) {
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-green-800 dark:text-red-400" role="alert">
            <span class="font-medium"></span>pleaser eneter a valid email
        </div>
        }




        }



        <!-- ============================================================================== -->




        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-900 dark:text-white">password : </label>
            <input formControlName="password" type="password"
                class="bg-green-50 border border-green-300 text-green-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-green-700 dark:border-green-600 dark:placeholder-green-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                placeholder="" required />
        </div>


        @if (LoginForm.get('password')?.errors && LoginForm.get('password')?.touched) {
        @if (LoginForm.get('password')?.getError('required')) {

        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-green-800 dark:text-red-400" role="alert">
            <span class="font-medium"></span>password is required
        </div>

        }
        <!-- pattern error enta btndh 3 assa el ts file bta3k w al API -->

        @else if (LoginForm.get('password')?.getError('pattern')) {

        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-green-800 dark:text-red-400" role="alert">
            <span class="font-medium"></span>password must start with a capital letter and contain at least 8 characters
        </div>
        }




        }








        <a routerLink="/forget-pass"
        class="block text-gray-900 text-2xl font-semibold cursor-pointer hover:text-green-600 transition-colors duration-300">
            Forgot Password?
        </a>











        












        



       



        



        <button [disabled]="LoginForm.invalid" type="submit" class="btnn disabled:bg-green-900 my-6">Login
            @if (isLoading)
            {

            <i class="fa-solid fa-spin  fa-spinner"></i>
            }
        </button>
    </form>
</div>